@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

body {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(../../../Imagenes/imageInsertar.png);
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-size: cover;
    background-position: center;
    
}

/*  Boton de añadir juego */

.botonJuego {
    font-size: 1.4em;
    padding: 0.6em 0.8em;
    border-radius: 0.5em;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    box-shadow: 2px 2px 3px #000000b4;
}

.contenedorBoton {
    width: 17rcap;
    z-index: 2;
    position: relative;
    padding: 3px;
    background: linear-gradient(90deg, #03a9f4, #f441a5);
    border-radius: 0.9em;
    transition: all 0.4s ease;
}

.contenedorBoton::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 0.9em;
    z-index: -1;
    filter: blur(0);
    transition: filter 0.4s ease;
}

.contenedorBoton:hover::before {
    background: linear-gradient(90deg, #03a9f4, #f441a5);
    filter: blur(1.2em);
}

.contenedorBoton:active::before {
    filter: blur(0.2em);
}

/* Contenedor del formulario */

.formulario {
    max-width: 600px;
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 10px;
    margin: 0 auto;
    transform: translate(0%,25%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


@media (min-width: 0px) and (max-width: 991px) {
    .formulario {
        transform: translate(0% ,30%);
    }
}

@media (max-width: 575px) {
    .formulario {
        padding: 20px;
    }

    h2 {
        font-size: 24px;
    }

    .btn-primary {
        font-size: 16px;
        padding: 8px 16px;
    }
}
