@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

body {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("https://tienda-de-juegos.alwaysdata.net/Frontend/Imagenes/fondo-administrativo.webp");
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-size: cover;
    background-position: center;
}

/* Boton Estilos */

.admin-btn {
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
    align-items: center;
    color: white;
    background: linear-gradient(135deg, #0d6efd, #0056b3);
    border: none;
    border-radius: 8px;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.admin-btn:hover {
    background: linear-gradient(135deg, #0056b3, #003a70);
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.admin-btn:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(13, 110, 253, 0.5);
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-success {
    background-color: #2831a7;
    border: none;
}

.btn-primary:hover, .btn-success:hover {
    opacity: 0.9;
}

/* Contenedor del formulario */
.formulario{
    max-width: 500px;
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 10px;
    margin: 0 auto;
    transform: translate(0%,50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 0px) and (max-width: 991px) {

    .formulario {
        transform: translate(0% ,50%);
    }
}





